body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:970px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:2543px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:970px;
  height:2543px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1264px;
  width:966px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:43px;
  top:207px;
  width:880px;
  height:55px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:55px;
}
#u3 {
  position:absolute;
  left:2px;
  top:20px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:45px;
  top:209px;
  width:415px;
  height:52px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:52px;
}
#u5 {
  position:absolute;
  left:2px;
  top:18px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:43px;
  top:262px;
  width:880px;
  height:173px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:173px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7 {
  position:absolute;
  left:33px;
  top:75px;
  width:334px;
  height:19px;
  font-size:16px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:19px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:43px;
  top:157px;
  width:630px;
  height:25px;
}
#u9_input {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10 {
  position:absolute;
  left:43px;
  top:125px;
  width:103px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:43px;
  top:478px;
  width:880px;
  height:376px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u14 {
  position:absolute;
  left:2px;
  top:180px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:35px;
  top:100px;
  width:810px;
  height:61px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16 {
  position:absolute;
  left:35px;
  top:269px;
  width:810px;
  height:61px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:35px;
  top:45px;
  width:810px;
  height:55px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u18 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:37px;
  top:47px;
  width:382px;
  height:52px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u20 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:35px;
  top:214px;
  width:810px;
  height:55px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u22 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:37px;
  top:215px;
  width:382px;
  height:52px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:128px;
  top:179px;
  width:200px;
  height:22px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u25_input:disabled {
  color:grayText;
}
#u26 {
  position:absolute;
  left:16px;
  top:18px;
  width:76px;
  height:16px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:37px;
  top:182px;
  width:60px;
  height:16px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:733px;
  top:340px;
  width:117px;
  height:22px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u32 {
  position:absolute;
  left:43px;
  top:874px;
  visibility:hidden;
}
#u32_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u32_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:380px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:380px;
}
#u34 {
  position:absolute;
  left:2px;
  top:182px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:35px;
  top:269px;
  width:810px;
  height:61px;
}
#u35_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u36 {
  position:absolute;
  left:35px;
  top:45px;
  width:810px;
  height:55px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u37 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:37px;
  top:47px;
  width:382px;
  height:52px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u39 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:35px;
  top:214px;
  width:810px;
  height:55px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:37px;
  top:215px;
  width:382px;
  height:52px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u43 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:128px;
  top:179px;
  width:200px;
  height:22px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u44_input:disabled {
  color:grayText;
}
#u45 {
  position:absolute;
  left:37px;
  top:182px;
  width:60px;
  height:16px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:16px;
  top:18px;
  width:76px;
  height:17px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:35px;
  top:100px;
  width:810px;
  height:61px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50 {
  position:absolute;
  left:740px;
  top:350px;
  width:117px;
  height:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:43px;
  top:1278px;
  visibility:hidden;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u54 {
  position:absolute;
  left:2px;
  top:180px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:35px;
  top:100px;
  width:810px;
  height:61px;
}
#u55_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u56 {
  position:absolute;
  left:35px;
  top:269px;
  width:810px;
  height:61px;
}
#u56_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u57 {
  position:absolute;
  left:35px;
  top:45px;
  width:810px;
  height:55px;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u58 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:37px;
  top:47px;
  width:382px;
  height:52px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u60 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:35px;
  top:214px;
  width:810px;
  height:55px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u62 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:37px;
  top:216px;
  width:382px;
  height:52px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u64 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:128px;
  top:179px;
  width:200px;
  height:22px;
}
#u65_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u65_input:disabled {
  color:grayText;
}
#u66 {
  position:absolute;
  left:16px;
  top:18px;
  width:76px;
  height:16px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:37px;
  top:182px;
  width:60px;
  height:16px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u70 {
  position:absolute;
  left:736px;
  top:346px;
  width:117px;
  height:16px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u72 {
  position:absolute;
  left:833px;
  top:12px;
  width:20px;
  height:23px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:43px;
  top:1677px;
  visibility:hidden;
}
#u74_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u74_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u76 {
  position:absolute;
  left:2px;
  top:180px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:35px;
  top:100px;
  width:810px;
  height:61px;
}
#u77_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u78 {
  position:absolute;
  left:35px;
  top:269px;
  width:810px;
  height:61px;
}
#u78_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u79 {
  position:absolute;
  left:35px;
  top:45px;
  width:810px;
  height:55px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u80 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:37px;
  top:47px;
  width:382px;
  height:52px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u82 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:35px;
  top:214px;
  width:810px;
  height:55px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u84 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:37px;
  top:215px;
  width:382px;
  height:52px;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u86 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:128px;
  top:179px;
  width:200px;
  height:22px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u87_input:disabled {
  color:grayText;
}
#u88 {
  position:absolute;
  left:16px;
  top:18px;
  width:76px;
  height:16px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u90 {
  position:absolute;
  left:37px;
  top:182px;
  width:60px;
  height:16px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:736px;
  top:347px;
  width:117px;
  height:16px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u94 {
  position:absolute;
  left:833px;
  top:11px;
  width:20px;
  height:23px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u95 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:43px;
  top:2073px;
  visibility:hidden;
}
#u96_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u96_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:376px;
}
#u98 {
  position:absolute;
  left:2px;
  top:180px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:35px;
  top:100px;
  width:810px;
  height:61px;
}
#u99_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u100 {
  position:absolute;
  left:35px;
  top:269px;
  width:810px;
  height:61px;
}
#u100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:61px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u101 {
  position:absolute;
  left:35px;
  top:45px;
  width:810px;
  height:55px;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u102 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:37px;
  top:47px;
  width:382px;
  height:52px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u104 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:35px;
  top:214px;
  width:810px;
  height:55px;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:55px;
}
#u106 {
  position:absolute;
  left:2px;
  top:20px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:37px;
  top:215px;
  width:382px;
  height:52px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:52px;
}
#u108 {
  position:absolute;
  left:2px;
  top:18px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:128px;
  top:179px;
  width:200px;
  height:22px;
}
#u109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u109_input:disabled {
  color:grayText;
}
#u110 {
  position:absolute;
  left:16px;
  top:18px;
  width:76px;
  height:16px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:16px;
}
#u111 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u112 {
  position:absolute;
  left:37px;
  top:182px;
  width:60px;
  height:16px;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  white-space:nowrap;
}
#u114 {
  position:absolute;
  left:743px;
  top:346px;
  width:117px;
  height:16px;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u115 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u116 {
  position:absolute;
  left:840px;
  top:12px;
  width:20px;
  height:23px;
  font-family:'Arial Negrito', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u118 {
  position:absolute;
  left:800px;
  top:446px;
  width:117px;
  height:16px;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
}
#u119 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
